header {
    display: flex;
    height: 60px;
    width: calc(100vw - 16%);
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg2);
    border-radius: 100px;
    box-shadow: 0px 0px 10px 0px rgba(54, 164, 67, 0.75);
}

header img,
body > header > a {
    height: 100%;
}


.nav-link {
    color: var(--link);
    font-size: 32px;
    text-decoration: none;
}

.nav-link:hover {
    text-decoration: underline;
}


header nav a+a {
    margin-left: 20px;
}

@media (max-width: 1279px) {
    header {
        height: 30px;
        width: calc(100vw - 40px);
    }

    .nav-link {
        font-size: 12px;
    }

    header nav a+a {
        margin-left: 3px;
    }
}
